/* global  css */
*{
    font-size: 50px;
    font-weight: 100;
}

/* External CSS */
h3 {
    color:cornflowerblue;
}

/* element selector */
h4 {
    color:blue;
}

/* class selector */
.myclass {
    color: aqua;
}

/* id selector */
#myid {
    color: red;
}
/* group selector */
h5,
p{
 color:salmon;
}
